<div class="card-columns" *ngIf="!loading">
  <div class="card" *ngFor="let user of users">
    <img [src]="user.avatar" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p class="card-text">Software Advocate</p>
      <span class="text-muted">ID: </span>
      <a [routerLink]="['/user', user.id]">{{ user.id }}</a>
    </div>
  </div>
</div>

<div class="col-12" *ngIf="loading">
  <div class="alert alert-info">
    <i class="fa fa-sync fa-circle-o"></i> please wait ...
  </div>
</div>

<psalguerodev-error [error]="error"></psalguerodev-error>